<section class="container advantages" id="advantages">
  <h2>Advantages</h2>
  <div class="swiper swiper_adv">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/img/advantages/icon-adv-1.png" alt="Advantage icon" width="52" height="52" />
        <div>
          <h6>
            Strategic Beast Combat
          </h6>
          <p>Master a combat system where each attack, defense, and special move matters.</p>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/img/advantages/icon-adv-2.png" alt="Advantage icon" width="52" height="52" />

        <div>
          <h6>
            Legendary Creatures
          </h6>
          <p>Unlock and evolve a collection of mythical cyber-beasts, each with unique abilities.</p>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/img/advantages/icon-adv-3.png" alt="Advantage icon" width="52" height="52" />
        <div>
          <h6>
            Dynamic PvP Battles
          </h6>
          <p>Challenge players from around the world in real-time, proving your dominance.</p>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/img/advantages/icon-adv-4.png" alt="Advantage icon" width="52" height="52" />
        <div>
          <h6>
            Customization & Upgrades
          </h6>
          <p>Enhance your beasts with powerful augmentations and special abilities.</p>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/img/advantages/icon-adv-5.png" alt="Advantage icon" width="52" height="52" />
        <div>
          <h6>
            Exciting Arena Events
          </h6>
          <p>Participate in tournaments and limited-time challenges for exclusive rewards.</p>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/img/advantages/icon-adv-6.png" alt="Advantage icon" width="52" height="52" />
        <div>
          <h6>
            Rich Story Mode
          </h6>
          <p>Uncover the secrets of the Arc8 world through an engaging single-player campaign.</p>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/img/advantages/icon-adv-7.png" alt="Advantage icon" width="52" height="52" />
        <div>
          <h6>
            Fair Play Mechanics
          </h6>
          <p>Balanced matchmaking and anti-cheat systems ensure a competitive and fair experience.</p>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/img/advantages/icon-adv-8.png" alt="Advantage icon" width="52" height="52" />
        <div>
          <h6>
            Free-to-Play with Optional Purchases
          </h6>
          <p>Enjoy the game without spending money, with in-app purchases available for those who want to progress
            faster.</p>
        </div>
      </div>


    </div>
    <div class="pagination-wrapper">
      <div class="swiper-button-prev">
        <img src="/img/svg/arrow_left.png" alt="Left arrow image" width="11" height="22">

      </div>
      <div class="swiper-pagination swiper-pagination-bullets"></div>
      <div class="swiper-button-next">
        <img src="/img/svg/arrow_right.png" alt="Left arrow image" width="11" height="22">
      </div>
    </div>
  </div>
</section>