<footer class="container footer">
  <a class="header-logo-link" href="./index.html">
    <img class="header-logo-img" width="65" height="65" srcset="/img/header/logo@1x.png 1x, /img/header/logo@2x.png 2x"
      src="/img/header/logo@1x.png" alt="Website logo" />
  </a>
  <h4>Arc8 Beasts</h4>
  <div>
    <a href="./privacy-policy.html">
      <p>Privacy Policy</p>
    </a><a href="./terms-and-conditions.html">
      <p>Terms and Conditions</p>
    </a><a href="./cookies-policy.html">
      <p>Cookie Policy</p>
    </a>
  </div>
  <p>All rights reserved, 2025. proplayarc.com</p>
</footer>