<section id="description" class="game-description">
  <div class="container">
    <h2 class="game-description-title">Game Description</h2>
    <p class="game-description-text">
      Arc8 Beasts takes you into an electrifying world where powerful
      cyber-enhanced beasts battle for supremacy. Players collect, train, and
      upgrade their creatures, each with unique abilities and attack styles.
      Engage in intense PvP duels, strategize your battle formations, and unlock
      legendary creatures to dominate the arena.
    </p>
    <div class="game-description-box">
      <img
        class="game-description-picture"
        width="288"
        height="601"
        srcset="
          ../img/game-description/mob_game-desc-1.png    1x,
          ../img/game-description/mob_game-desc-1@2x.png 2x
        "
        src="../img/game-description/mob_game-desc-1.png "
        alt="About Game Picture-1"
      />
    </div>
    <p class="game-description-text">
      The game offers a dynamic combat system where timing, skill, and strategy
      determine the winner. Each beast has elemental affinities and special
      powers, making battles highly tactical and exciting.
    </p>
    <div class="game-description-box">
      <img
        class="game-description-picture"
        width="288"
        height="601"
        srcset="
          ../img/game-description/mob_game-desc-2.png    1x,
          ../img/game-description/mob_game-desc-2@2x.png 2x
        "
        src="../img/game-description/mob_game-desc-2.png "
        alt="About Game Picture-2"
      />
    </div>
    <p class="game-description-text">
      With stunning graphics, real-time multiplayer battles, and a deep
      progression system, Arc8 Beasts is the ultimate test of skill and power.
      Whether you're a casual player or an esports competitor, this game offers
      an experience like no other.
    </p>
    <div class="game-description-box last">
      <img
        class="game-description-picture"
        width="288"
        height="601"
        srcset="
          ../img/game-description/mob_game-desc-3.png    1x,
          ../img/game-description/mob_game-desc-3@2x.png 2x
        "
        src="../img/game-description/mob_game-desc-3.png "
        alt="About Game Picture-3"
      />
    </div>
  </div>
</section>
