<header id="header" class="header">
  <div class="container header-container">
    <nav class="header-nav-bar">
      <div class="header-logo">
        <a class="header-logo-link" href="./index.html">
          <img class="header-logo-img" width="65" height="65"
            srcset="/img/header/logo_1x.webp 1x, /img/header/logo_2x.webp 2x" src="/img/header/logo_1x.webp"
            alt="Logo" />
        </a>
      </div>
      <ul class="header-menu">
        <li class="header-menu-item">
          <a class="header-menu-link" href="./index.html">Home</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#description">Game Description</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#advantages">Advantages</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#reviews">Reviews</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#play">How to Play</a>
        </li>
      </ul>
      <button class="burger-btn" type="button">
        <svg class="burger-icon" width="36" height="36">
          <use href="/img/svg/sprite.svg#icon-burger-icon"></use>
        </svg>
      </button>
    </nav>
    <div class="menu-window">
      <button type="button" class="menu-close-btn">
        <svg class="icon-close" width="40" height="40">
          <use href="/img/svg/sprite.svg#icon-close-icon"></use>
        </svg>
      </button>
      <ul class="mobile-menu">
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="./index.html">Home</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#description">Game Description</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#advantages">Advantages</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#reviews">Reviews</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#play">How to Play</a>
        </li>
      </ul>
    </div>
  </div>
</header>