<section class="hero container" id="hero">
  <h1>Arc8 Beasts: Win Cash Prizes</h1>
  <p>Unleash the Beast Within!</p>
  <picture>
    <source srcset="
      /img/hero/mob_hero.png 1x,
      /img/hero/mob_hero@2x.png 2x
    " media="(max-width:1199px)" width="320" height="222" />
    <source srcset="
      /img/hero/desk_hero.png   1x,
      /img/hero/desk_hero@2x.png 2x
    " media="(min-width:1200px)" width="768" height="588" />
    <img src="/img/hero/mob_hero.png" srcset="/img/hero/mob_hero@2x.png 2x" alt="Game image" width="320" height="222">
  </picture>
  <div>
    <a href="https://play.google.com/store/apps/details?id=com.gamee.arc8.android.app&hl=en&gl=us" target="_blank"
      rel="noopener noreferrer" aria-label="Download Arc8 Beasts on Google Play">
      <img src="/img/hero/playmarket.png" alt="Google Play logo">
      Play Now
    </a>
  </div>
</section>