<section class="container how-to-play" id="play">
  <div class="play_heading">
    <h2>How to Play</h2>
    <div>
      <img src="/img/svg/arrow_bottom.png" id="bottom" alt="Bottom arrow image" width="11" height="22">

    </div>
  </div>
  <div class="card_list">
    <div class="card_item">
      <div class="text_wrapper">
        <p class="num">01</p>
        <h6>Choose your beast</h6>
        <p>Select a creature from your collection, each with unique stats and abilities.</p>
      </div>
      <picture>
        <source srcset="
        /img/how-to-play/mob_how-to-1.png  1x,
      /img/how-to-play/mob_how-to-1@2x.png  2x" media="(max-width:1199px)" width="288" height="282" />
        <source srcset="
    /img/how-to-play/desk_how-to-1.png   1x,
    /img/how-to-play/desk_how-to-1@2x.png 2x
    " media="(min-width:1200px)" width="370" height="363" />
        <img src="/img/how-to-play/mob_how-to-1.png" srcset="/img/how-to-play/mob_how-to-1@2x.png 2x" alt="Game image"
          width="288" height="282">
      </picture>
    </div>
    <div class="card_item">
      <div class="text_wrapper">

        <p class="num">02</p>
        <h6>Train & Upgrade</h6>
        <p>Enhance your beast's skills, unlocking powerful attacks and defenses.</p>
      </div>

      <picture>
        <source srcset="
        /img/how-to-play/mob_how-to-2.png  1x,
      /img/how-to-play/mob_how-to-2@2x.png  2x" media="(max-width:1199px)" width="288" height="282" />
        <source srcset="
    /img/how-to-play/desk_how-to-2.png   1x,
    /img/how-to-play/desk_how-to-2@2x.png 2x
    " media="(min-width:1200px)" width="370" height="363" />
        <img src="/img/how-to-play/mob_how-to-2.png" srcset="/img/how-to-play/mob_how-to-2@2x.png 2x" alt="Game image"
          width="288" height="282">
      </picture>
    </div>
    <div class="card_item">
      <div class="text_wrapper">

        <p class="num">03</p>
        <h6>Enter the Arena</h6>
        <p>Face off against AI opponents or real players in high-stakes combat.</p>
      </div>

      <picture>
        <source srcset="
        /img/how-to-play/mob_how-to-3.png  1x,
      /img/how-to-play/mob_how-to-3@2x.png  2x" media="(max-width:1199px)" width="288" height="282" />
        <source srcset="
    /img/how-to-play/desk_how-to-3.png   1x,
    /img/how-to-play/desk_how-to-3@2x.png 2x
    " media="(min-width:1200px)" width="370" height="363" />
        <img src="/img/how-to-play/mob_how-to-3.png" srcset="/img/how-to-play/mob_how-to-3@2x.png 2x" alt="Game image"
          width="288" height="282">
      </picture>
    </div>
    <div class="card_item">
      <div class="text_wrapper">

        <p class="num">04</p>
        <h6>Master Elemental Tactics</h6>
        <p>Each beast has elemental strengths and weaknesses—use them wisely!</p>
      </div>

      <picture>
        <source srcset="
        /img/how-to-play/mob_how-to-4.png  1x,
      /img/how-to-play/mob_how-to-4@2x.png  2x" media="(max-width:1199px)" width="288" height="282" />
        <source srcset="
    /img/how-to-play/desk_how-to-4.png   1x,
    /img/how-to-play/desk_how-to-4@2x.png 2x
    " media="(min-width:1200px)" width="370" height="363" />
        <img src="/img/how-to-play/mob_how-to-4.png" srcset="/img/how-to-play/mob_how-to-4@2x.png 2x" alt="Game image"
          width="288" height="282">
      </picture>
    </div>
    <div class="card_item">
      <div class="text_wrapper">
        <p class="num">05</p>
        <h6>Compete in Events</h6>
        <p>Join special tournaments and limited-time events for exclusive rewards.</p>
      </div>
      <picture>
        <source srcset="
        /img/how-to-play/mob_how-to-5.png  1x,
      /img/how-to-play/mob_how-to-5@2x.png  2x" media="(max-width:1199px)" width="288" height="282" />
        <source srcset="
    /img/how-to-play/desk_how-to-5.png   1x,
    /img/how-to-play/desk_how-to-5@2x.png 2x
    " media="(min-width:1200px)" width="370" height="363" />
        <img src="/img/how-to-play/mob_how-to-5.png" srcset="/img/how-to-play/mob_how-to-5@2x.png 2x" alt="Game image"
          width="288" height="282">
      </picture>
    </div>
    <div class="card_item">
      <div class="text_wrapper">
        <p class="num">06</p>
        <h6>Form Your Ultimate Team</h6>
        <p>Strategically combine different beasts for the perfect battle formation.</p>
      </div>
      <picture>
        <source srcset="
        /img/how-to-play/mob_how-to-6.png  1x,
      /img/how-to-play/mob_how-to-6@2x.png  2x" media="(max-width:1199px)" width="288" height="282" />
        <source srcset="
    /img/how-to-play/desk_how-to-6.png   1x,
    /img/how-to-play/desk_how-to-6@2x.png 2x
    " media="(min-width:1200px)" width="370" height="363" />
        <img src="/img/how-to-play/mob_how-to-6.png" srcset="/img/how-to-play/mob_how-to-6@2x.png 2x" alt="Game image"
          width="288" height="282">
      </picture>
    </div>
  </div>
</section>