<section class="join-community">
  <div class="container community">
    <div class="join-community-wrapper">
      <h6 class="join-community-title">Join the Arc8 Beasts Community!</h6>
      <p class="join-community-text">
        Thousands of players trust
        <span class="text_accent">Arc8 Beasts</span> for its exciting gameplay,
        active community, and fair competition. Follow us on social media and
        join our Discord to stay updated on events, updates, and exclusive
        content. We are committed to player satisfaction and fair play!
      </p>
    </div>
    <div class="join-community-img-wrap">
      <picture>
        <source
          srcset="
            /img/join-community/mob_join.png    1x,
            /img/join-community/mob_join@2x.png 2x
          "
          media="(max-width:1199px)"
        />
        <source
          srcset="
            /img/join-community/desk_join.png    1x,
            /img/join-community/desk_join@2x.png 2x
          "
          media="(min-width:1200px)"
        />
        <img
          class="join-community-img"
          src="/img/join-community/mob_join.png"
          alt="Community Discord"
          width="288"
          height="162"
        />
      </picture>
    </div>
  </div>
</section>
