.header {
  padding-top: 24px;
  padding-bottom: 36px;
  background-color: var(--bg-main-bg);
  position: fixed;
  right: 50%;
  transform: translateX(50%);
  height: 102px;
  z-index: 100;
}
.header-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  width: 42px;
  height: 42px;
  border-radius: 8px;
  transition: scale var(--animation);
}
.header-logo:hover {
  scale: 1.05;
}
.header-menu {
  display: none;
}
.burger-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}
.burger-icon {
  width: 36px;
  height: 36px;
}
.menu-window {
  border-radius: 12px 0 0 12px;
  width: 195px;
  height: 388px;
  padding: 74px 16px 74px 24px;
  background-color: var(--stroke);
  position: fixed;
  z-index: 100;
  right: 0;
  top: 0;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  transition: transform var(--animation), opacity var(--animation),
    visibility var(--animation);
}
.menu-window.is-open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.menu-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 16px;
  right: 8px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
}
.icon-close {
  transition: transform var(--animation);
}
.icon-close:hover {
  transform: rotate(90deg);
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.mobile-menu-item {
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 2;
  color: var(--white);
}
.mobile-menu-link {
  color: var(--white);
  text-decoration: none;
  transition: color var(--animation);
}
.mobile-menu-link:hover {
  color: var(--hover);
}
.mobile-menu-link:active,
.mobile-menu-link:focus {
  color: var(--click);
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 20px 0;
    height: 105px;
    max-width: 1200px;
    border-bottom: 2px solid var(--stroke);
  }
  .header-logo {
    width: 65px;
    height: 65px;
    border-radius: 12px;
  }
  .header-logo-img {
    width: 65px;
    height: 65px;
  }
  .header-menu {
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 28px;
  }
  .header-menu-item {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    color: var(--white);
  }
  .header-menu-link {
    color: var(--white);
    transition: color var(--animation);
  }
  .header-menu-link:hover {
    color: var(--hover);
  }
  .header-menu-link:active,
  .header-menu-link:focus {
    color: var(--click);
  }
  .burger-btn {
    display: none;
  }
}

#description,
#advantages,
#reviews,
#play {
  scroll-margin-top: 100px;
}
