.join-community {
  margin-bottom: 64px;
}
.container.community {
  display: flex;
  flex-direction: column;
}
.join-community-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 16px;
  background: var(--bg-secondary-bg);
  border-radius: 12px;
  margin-bottom: 21px;
}
.join-community-title {
  width: 150px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: var(--white);
}
.join-community-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3333;
  color: var(--body-txt);
}
.text_accent {
  font-weight: 600;
}
.join-community-img-wrap {
  border-radius: 12px;
  width: 288px;
  height: 162px;
}
.join-community-img {
  width: 288px;
  height: 162px;
}

@media screen and (min-width: 1200px) {
  .join-community {
    margin-bottom: 104px;
  }
  .container.community {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 35px;
    max-width: 1200px;
    padding: 40px 94px;
    background: var(--bg-secondary-bg);
    border-radius: 12px; //опціонально додав від себе
  }
  .join-community-wrapper {
    column-gap: 24px;
    width: 637px;
    padding: 0;
    margin-bottom: 0;
  }
  .join-community-title {
    width: 615px;
    font-size: 40px;
  }
  .join-community-text {
    font-size: 24px;
  }
  .join-community-img-wrap {
    width: 340px;
    height: 265px;
  }
  .join-community-img {
    width: 340px;
    height: 265px;
  }
}
