.reviews {
  margin-bottom: 64px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 104px;
  }
}
.reviews-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 24px;
  color: var(--white);
  margin-bottom: 24px;
  @media screen and (min-width: 1200px) {
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 52px;
  }
}
.reviews-swiper {
  width: 100% !important;
}
.reviews-swiper-wrapper {
  display: flex;
  column-gap: 8px;
  @media screen and (min-width: 1200px) {
    column-gap: 24px;
    height: 454px !important;
    margin-bottom: 40px;
  }
}
.swiper-slide.reviews-swiper-slide {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 245px !important;
  height: 232px !important;
  background: #631895;
  padding: 18px;
  @media screen and (min-width: 1200px) {
    border-radius: 8px;
    width: 480px !important;
    height: 405px !important;
    padding: 21px;
  }
}
.swiper-slide.reviews-swiper-slide > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 28px;
  }
}
.reviews-swiper-slide-top-left {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.reviews-swiper-slide-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  @media screen and (min-width: 1200px) {
    font-size: 32px;
    line-height: 1.375;
  }
}
.reviews-swiper-slide-stars {
  display: flex;
}
@media screen and (min-width: 1200px) {
  .reviews-swiper-slide-star {
    width: 42px;
    height: 42px;
  }
  .reviews-swiper-slide-quote {
    width: 68px;
    height: 68px;
  }
}
.reviews-swiper-slide-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3333;
  color: var(--body-txt);
  width: 225px;
  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 1.4;
    width: 488px;
  }
}

.reviews-pagination-wrapper {
  @media screen and (min-width: 1200px) {
    gap: 160px;
  }
}
