// .up-button {
//   display: none;
// }

.up-button {
  display: flex;

  position: fixed;
  bottom: 24px;
  right: 12px;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--white);

  transform: rotate(180deg);
  transition: var(--animation);
  background-color: transparent;
}

.up-button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.up-button:hover {
  border-color: var(--stroke);
}

.up-button.is-hidden {
  display: none;
}

@media screen and (min-width: 1200px) {
  .up-button {
    bottom: 48px;
    right: 24px;

    width: 60px;
    height: 60px;
    border: 2px solid var(--white);
  }
  .up-button-img {
    width: 42px;
    height: 22px;
  }
}
